body{
    padding: 10px;
    background-color: #ccc;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 800;
}

.box{
    background: #fff;
    margin: 20px 60px 90px 120px;
    padding: 20px 60px 90px 120px;
    border: 3px solid #000;
    border-radius: 10px;
}

#display * {
    display: inline;
}